body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
}

.mobile-logo {
    display: none;
}

header nav a {
    color: hsl(208, 11%, 55%);
    text-decoration: none;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-section {
    min-height: 100vh;
    padding: 7rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
    background-image: url(./huddle-landing-page-with-alternating-feature-blocks-master/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
}

.main-section-content {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main h1 {
    color: hsl(192, 100%, 9%);
    font-size: 2.5rem;
}

main p {
    color: hsl(208, 11%, 55%);
}

.main-section a {
    color: white;
    background-color: hsl(322, 100%, 66%);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-section-img {
    width: 40rem;
    height: 28rem;
    background-position: center;
    background-size: cover;
    background-image: url(./huddle-landing-page-with-alternating-feature-blocks-master/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-mockups.svg);
}

.list-section ul {
    padding: 3rem 4rem;
    margin: 2rem 0;
}

.list-section li {
    min-height: 20vh;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.list-section li article {
    padding: 0 4rem;
}

.list-svg {
    width: 75vw;
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grow {
    background-image: url(./huddle-landing-page-with-alternating-feature-blocks-master/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-grow-together.svg);
}

.flow {
    background-image: url(./huddle-landing-page-with-alternating-feature-blocks-master/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-flowing-conversation.svg);
}

.users {
    background-image: url(./huddle-landing-page-with-alternating-feature-blocks-master/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-your-users.svg);
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: whitesmoke;
    padding: 2rem 4rem;
}

.footer-logo path {
    fill: white;
}

footer section {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

footer .footer-div {
    width: 40vw;
    display: flex;
}

.footer-div div {
    margin: 1rem;
}

footer p {
    margin: 1rem;
}

footer .icons {
    margin: 0 0.5rem 1rem 0.5rem;
    border-color: white;
    border-width: 0.5px;
    border-radius: 100%;
    border-style: solid;
    padding: 0.5rem;
}

footer .copyrights {
    text-align: end;
}

@media (max-width: 1350px) {
    .main-section {
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem 2rem;
    }
    .main-section-content {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    body header {
        padding: 1rem 2rem;
    }
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: inline;
    }
    .main-section {
        min-height: 100vh;
    }
    section .main-section-img {
        width: 20rem;
        height: 15rem;
    }
    .list-section ul {
        padding: 0.5rem 1rem;
    }
    .list-section li article {
        padding: 0 0.5rem;
        text-align: center;
        font-size: 1rem;
    }
    .list-section li article p {
        font-size: 0.75rem;
    }
    .list-section li {
        flex-direction: column;
    }
    .list-section .reverse {
        flex-direction: column-reverse;
    }
    .list-svg {
        width: 100%;
        background-size: contain;
    }
    footer {
        padding: 2rem 0.5rem;
    }
    footer section {
        flex-direction: column;
    }
    footer .mobile-logo path {
        fill: white;
    }
    footer .footer-div {
        width: 90vw;
    }
    footer .icon-div {
        text-align: center;
    }
}

@media (max-width: 481px) {
    .mobile-logo {
        display: inline;
    }
    body header {
        padding: 0.5rem 1rem;
    }
    header nav a {
        padding: 0.5rem 1.5rem;
    }
    .main-section-content {
        width: 100%;
        text-align: center;
    }
    main h1 {
        font-size: 1.5rem;
    }
    .main-section a {
        padding: 0.5rem 1.5rem;
    }
    section .main-section-img {
        width: 16rem;
        height: 11.8rem;
    }
    .list-svg {
        width: 85vw;
        background-size: contain;
    }
    footer .mobile-logo path {
        fill: white;
    }
}